.SearchSource--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  width: 100%;
  /* padding: 15px 25px; */
  padding: 35px 14px;
}

.SearchSource--container > *:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 25px; */
  margin-bottom: 15px;
}
.SearchSource--container > *:first-child > button {
  margin-right: 20px;
  height: 48px;
  width: 48px;
  box-shadow: 0px 3px 6px #00000029;
  color: firebrick;
  background-color: #ff7007;
}
.SearchSource--container > *:first-child > button:hover {
  filter: none;
  color: #ffbd2e;
}
/* .SearchSource--container > *:first-child > button:active {
  color: #ff7b46;
} */

.SearchSource--searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  max-width: 460px;
  flex-basis: 460px;
  border: thin solid transparent;
}
.SearchSource--searchbar > *:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px 5px 20px;
}

.SearchSource--searchbar > *:first-child > img {
  /* height: 100%; */
  height: 34px;
  /* height: auto; */
  max-height: 34px;
  width: auto;
  max-width: 45px;
  -webkit-user-drag: none;
  user-select: none;
}

.SearchSource--searchbar > input {
  flex-grow: 1;
  display: block;
  height: 100%;
  background-color: #fff;
  color: #202124;
  outline: none;
  border: none;
  /* padding-left: 25px; */
  /* padding-right: 10px; */

  font-size: 20px;
  font-weight: 400;
}

.SearchSource--searchbar:focus-within {
  border: thin solid #00b1ff;
}

.SearchSource--searchbar > input::placeholder {
  /* color: #b2b1b1; */
}

.SearchSource--searchbar > *:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  background-color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5px;
  /* padding: 5px 20px 5px 20px; */
}

.SearchSource--searchbar > *:last-child > button {
  box-shadow: 0px 3px 6px #00000029;
  /* height: 34px;
  max-height: 34px;
  width: auto;
  max-width: 45px;
  -webkit-user-drag: none;
  user-select: none; */
}
