.ChannelCard2--container {
  border-radius: 20px;
  position: relative;
  width: 384px;
  height: 344px;
  background: linear-gradient(90deg, #76fcff 0%, #f966f8 50%, #e8bba2 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  transition: box-shadow 0.05s ease-in-out;
}
.ChannelCard2--container:hover {
  box-shadow: 0px 3px 6px #00000045;
}
.ChannelCard2--container > * {
  height: 96%;
  width: 96%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 20px;
}

.ChannelCard2--top {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  height: 214px;
}

.ChannelCard2--top > .ChannelCard2--channelImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-user-drag: none;
  user-select: none;
}

.ChannelCard2--top > .ChannelCard2--sourceImage {
  height: 32px;
  width: auto;
  max-width: 43px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  -webkit-user-drag: none;
  user-select: none;
}

.ChannelCard2--top > h4 {
  font-size: 18px;
  color: #1da4fe;
  background-color: #f2f2f2;
  font-weight: bold;
  border-radius: 15px;
  border: thin solid #a5a5a5;
  padding: 4px 12px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  -webkit-user-drag: none;
  user-select: none;
}

.ChannelCard2--title {
  position: absolute;
  bottom: 12px;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ChannelCard2--title > h3 {
  font-size: 26px;
  font-weight: bold;
}

.ChannelCard2--top > .ChannelCard2--overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: linear-gradient(360deg, #fff 0%, rgba(244, 0, 0, 0) 100%);
  height: 40%;
  width: 100%;
}

.ChannelCard2--bottom {
  background-color: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 12px 12px 12px;
  min-height: 110px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ChannelCard2--nameIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ChannelCard2--nameIcon > img {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 4px #00000029;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.ChannelCard2--nameIcon > h3 {
  font-size: 18px;
  font-weight: bold;
}

.ChannelCard2--avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-grow: 1;
}
