.UserMain--container {
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 10px #38383880;
}

.UserMain--container > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 100px;
  width: 100%;
}
.UserMain--container > section > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1245px;
}

.UserMain--container > section > * > *:not(:last-child) {
  margin-bottom: 50px;
}

.UserMain--container > section::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.UserMain--container > section::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.UserMain--container > section > * > .UserMain--user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 100px;
  margin: 100px 0;
  margin-right: auto;
}

.UserMain--user > *:first-child {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  box-shadow: 0px 3px 6px #00000029;
}
.UserMain--user > .UserMain--user--nameStats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.UserMain--user > .UserMain--user--nameStats > *:first-child {
  margin-bottom: 35px;
}

.UserMain--user > .UserMain--user--nameStats > *:first-child > *:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  margin-bottom: 10px;
}

.UserMain--user
  > .UserMain--user--nameStats
  > *:first-child
  > *:first-child
  > h3 {
  font-size: 40px;
  font-weight: 500;
}
.UserMain--user
  > .UserMain--user--nameStats
  > *:first-child
  > *:first-child
  > button {
  margin-left: 30px;
  box-shadow: 0px 3px 6px #00000029;
  height: 40px;
}

.UserMain--user > .UserMain--user--nameStats > *:first-child > p {
  font-size: 20px;
  font-weight: 500;
}

.UserMain--user > .UserMain--user--nameStats > *:last-child {
  display: flex;
  flex-direction: row;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > * {
  font-size: 20px;
  font-weight: 500;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > * {
  font-size: 20px;
  font-weight: 500;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > *:first-child {
  margin-right: 20px;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > * span {
  font-weight: bold;
}

.UserMain--channels {
  padding: 0 50px;
}
.UserMain--channels > h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.UserMain--channelsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.UserMain--notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.UserMain--notFound > h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px !important;
  color: gray;
}
.UserMain--notFound > h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  color: gray;
}
