.UserMain--container {
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserMain--container > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 100px;
  width: 100%;
  /* background-color: yellow; */
}
.UserMain--container > section > * {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UserMain--container > section > * > *:not(:last-child) {
  margin-bottom: 50px;
}

.UserMain--container > section::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.UserMain--container > section::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.UserMain--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  padding: 20px 16px;
}
.UserMain--header > h2 {
  font-size: 30px;
  font-weight: 600;
  user-select: none;
}

.UserMain--container > section > * > .UserMain--user {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0px 100px; */
  /* padding: 0px 100px; */
  padding: 0 100px;
  /* padding: 0px 50px; */
  margin: 100px 0;
  margin-right: auto;
  /* background-color: black; */
}
.UserMain--user > img {
  height: 200px;
  width: 200px;
  /* margin-right: 35px; */
  margin-right: 100px;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  box-shadow: 0px 3px 6px #00000029;
}
.UserMain--user > .UserMain--user--nameStats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.UserMain--user > .UserMain--user--nameStats > *:first-child {
  /* margin-bottom: 25px; */
  margin-bottom: 35px;
}

.UserMain--user > .UserMain--user--nameStats > *:first-child > *:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  margin-bottom: 10px;
}

.UserMain--user
  > .UserMain--user--nameStats
  > *:first-child
  > *:first-child
  > h3 {
  font-size: 40px;
  font-weight: 500;
  /* margin-bottom: 4px; */
}
.UserMain--user
  > .UserMain--user--nameStats
  > *:first-child
  > *:first-child
  > button {
  /* margin-top: auto; */
  margin-left: 30px;
  /* margin-bottom: auto; */
  box-shadow: 0px 3px 6px #00000029;
  height: 40px;
  /* height: 35px; */
}

.UserMain--user > .UserMain--user--nameStats > *:first-child > p {
  font-size: 20px;
  font-weight: 500;
}

.UserMain--user > .UserMain--user--nameStats > *:last-child {
  display: flex;
  flex-direction: row;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > * {
  font-size: 20px;
  font-weight: 500;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > * {
  font-size: 20px;
  font-weight: 500;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > *:first-child {
  margin-right: 20px;
}
.UserMain--user > .UserMain--user--nameStats > *:last-child > * span {
  font-weight: bold;
}

.UserMain--channels {
  padding: 0 50px;
  /* padding: 25px 50px; */
}
.UserMain--channels > h3 {
  font-size: 26px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  margin-bottom: 25px;
}

.UserMain--channelsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
