.CreateNewAccountModal--container {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000053;
  border-radius: 20px;
  min-width: 555px;
  /* height: 720px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 45px;
}

.CreateNewAccountModal--header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 15px; */
  /* border-bottom: 1px solid #d0d0d0; */
  /* position: relative; */
}

.CreateNewAccountModal--header > h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.CreateNewAccountModal--header > h4 {
  font-size: 22px;
  font-weight: 400;
}

.CreateNewAccountModal--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
}
.CreateNewAccountModal--form > .Input7--container {
  width: 550px !important;
  max-width: 550px !important;
}
.CreateNewAccountModal--form > *:not(:last-child) {
  margin-bottom: 15px;
}
.CreateNewAccountModal--form > button {
  margin-top: 15px;
  border-radius: 23px;
  font-size: 22px;
  width: 165px;
  height: 60px;
  background-color: #009dff;
  box-shadow: 0px 3px 6px #00000029;
}

.CreateNewAccountModal--form--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.CreateNewAccountModal--form--row > *:first-child {
  margin-right: 8px;
}

.CreateNewAccountModal--container > p {
  font-size: 13px;
  font-weight: 500;
}
