.CreateNewAccountModal--container {
  background-color: #ffffff;
  box-shadow: 0px 25px 30px #00000053;
  border-radius: 20px;
  min-width: 576px;
  /* height: 760px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

.CreateNewAccountModal--header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 15px; */
  /* border-bottom: 1px solid #d0d0d0; */
  /* position: relative; */
}

.CreateNewAccountModal--header > h3 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 8px;
}

.CreateNewAccountModal--header > h4 {
  font-size: 20px;
  font-weight: 400;
}

.CreateNewAccountModal--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 0;
}
.CreateNewAccountModal--form > .Input7--container {
  width: 100%;
  max-width: 100%;
}
.CreateNewAccountModal--form > *:not(:last-child) {
  margin-bottom: 16px;
}
.CreateNewAccountModal--form > button {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 156px;
  height: 54px;
  background: transparent linear-gradient(253deg, #009dff 0%, #5abefc 100%) 0%
    0% no-repeat padding-box;
  border: none;
  outline: none;
  box-shadow: 0px 1px 4px #00000029;
  border-radius: 15px;
  transition: filter 0.05s ease-in-out;
  cursor: pointer;
  position: relative;
}
.CreateNewAccountModal--form > button:hover {
  filter: brightness(90%);
}
.CreateNewAccountModal--form > button:active {
  filter: brightness(80%);
}

.CreateNewAccountModal--form > button:disabled {
  box-shadow: none;
  background: none;
  background-color: #F2F2F2;
  color: #a5a5a5;
  cursor: not-allowed;
}
.CreateNewAccountModal--form > button:disabled:hover {
  filter: none;
}
.CreateNewAccountModal--form > button:disabled:active {
  filter: none;
}

.CreateNewAccountModal--form--row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  column-gap: 8px;
}

.CreateNewAccountModal--form--row > *:first-child {
  /* margin-right: 8px; */
}

.CreateNewAccountModal--container > p {
  font-size: 14px;
  font-weight: 400;
}

.CreateNewAccountModal--form--row2 {
  width: 100%;
}
.CreateNewAccountModal--form--row2 > *:first-child {
  font-size: 18px;
  margin: 0 0 4px 8px;
}
.CreateNewAccountModal--form--row2 > *:first-child > span {
  color: red;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 400;
}

.CreateNewAccountModal--form--row2 > *:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  column-gap: 12px;
  margin-bottom: 24px;
}

.CreateNewAccountModal--container .Select--select__menu-list {
  max-height: 200px !important;
}

/*  */

@keyframes CreateNewAccountModal--spinner--circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.CreateNewAccountModal--spinner--circle div {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 4px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
}
.CreateNewAccountModal--spinner--circle div {
  animation: CreateNewAccountModal--spinner--circle 1s linear infinite;
  top: 30px;
  left: 82px;
}
.CreateNewAccountModal--spinner {
  width: 165px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.CreateNewAccountModal--spinner--circle {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.CreateNewAccountModal--spinner--circle div {
  box-sizing: content-box;
}
