.HeaderNotifications--container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 30px;
}

.HeaderNotifications--container > i {
  color: white;
  text-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
}

.HeaderNotifications--container > i:hover {
  filter: brightness(90%);
}

.HeaderNotifications--container > i:active {
  filter: brightness(80%);
}

.HeaderNotifications--popup {
  position: absolute;
  z-index: 10;
  right: -30px;
  top: 60px;
}

.HeaderNotifications--popup::after {
  background-color: #fff;
  box-shadow: -2px 2px 0px 0 #00000010;
  content: "\00a0";
  display: block;
  position: absolute;
  z-index: 400;
  top: -10px;
  right: 34px;
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  height: 20px;
  width: 20px;
}
