.ChannelsPanel2--container {
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  width: 411px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 30px #00000029;
}

.ChannelsPanel2--main .ChannelsPanel2--header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 24px 16px 24px;
  height: 60px;
  position: relative;
  z-index: 10;
}

.ChannelsPanel2--main > .ChannelsPanel2--header > i {
  color: #000;
}
.ChannelsPanel2--main > .ChannelsPanel2--header > h3 {
  color: #000;
  font-size: 36px;
  font-weight: bold;
}

.ChannelsPanel2--main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 16px 0 26px 0;
}

.ChannelsPanel2--main::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.ChannelsPanel2--main::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.ChannelsPanel2--channels > h3 {
  font-size: 22px;
  font-weight: bold;
  color: #a5a5a5;
  padding: 0 16px;
  margin-bottom: 10px;
}

.ChannelsPanel2--button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 14px 25px 14px;
}
.ChannelsPanel2--button > a {
  /* margin: 15px auto; */
  background: linear-gradient(77deg, #009dff 0%, #5abefc 100%);
  box-shadow: 0px 1px 4px #00000029;
  border-radius: 15px;
  font-size: 21px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 215px;
  height: 50px;
  cursor: pointer;
  transition: filter 0.17s ease-in-out;
  text-decoration: none;
}
.ChannelsPanel2--button > a > p {
  font-size: 21px;
  font-weight: bold;
  margin-left: 8px;
}
.ChannelsPanel2--button > button > i {
}

.ChannelsPanel2--button > a:hover {
  filter: brightness(90%);
}
.ChannelsPanel2--button > a:active {
  filter: brightness(80%);
}

.ChannelsPanel2--seperator {
  padding: 30px 24px 16px;
}

.ChannelsPanel2--discover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ChannelsPanel2--discover > *:not(:last-child) {
  margin-bottom: 25px;
}
