.ChannelsPanel2--container {
  background-color: #ffffff;
  border-top-left-radius: 20px;
  width: 405px;
  border-right: 2px solid #ededed;
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
}

.ChannelsPanel2--header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 60px;
  position: relative;
  z-index: 10;
}

.ChannelsPanel2--headerShadow {
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
}

.ChannelsPanel2--container > .ChannelsPanel2--header > i {
  color: #393939;
}
.ChannelsPanel2--container > .ChannelsPanel2--header > h3 {
  color: #393939;
  font-size: 28px;
  font-weight: bold;
  margin-left: 12px;
}

.ChannelsPanel2--main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 20px;
}

.ChannelsPanel2--main::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.ChannelsPanel2--main::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.ChannelsPanel2--yourChannels {
  padding: 14px 0;
}
.ChannelsPanel2--yourChannels > *:not(:last-child) {
  margin-bottom: 25px;
}
.ChannelsPanel2--yourChannels > h3 {
  font-size: 22px;
  font-weight: bold;
  color: #a5a5a5;
  padding: 0 25px;
}
.ChannelsPanel2--yourChannels--button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ChannelsPanel2--followingChannels {
  padding: 14px 0;
}
.ChannelsPanel2--followingChannels > *:not(:last-child) {
  margin-bottom: 25px;
}
.ChannelsPanel2--followingChannels > h3 {
  font-size: 22px;
  font-weight: bold;
  color: #a5a5a5;
  padding: 0 25px;
}

.ChannelsPanel2--seperator {
  padding: 14px 58px;
}

.ChannelsPanel2--discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}
.ChannelsPanel2--discover > *:not(:last-child) {
  margin-bottom: 25px;
}
