.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ModalManager--modal {
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50.1%, -50.1%);
  z-index: 1001;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.ModalManager--modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
}
