.Profile--container {
  /* background-color: #ffffff;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ededed;
  height: 60px;
  user-select: none; */

  border-radius: 30px;
  background-color: #ffffff;
  width: 1270px;
  padding-bottom: 30px;
}

.Profile--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  padding: 20px 16px;
  position: relative;
}
.Profile--header > h2 {
  font-size: 30px;
  font-weight: 600;
  user-select: none;
}
.Profile--header > i {
  position: absolute;
  left: 40px;
  margin-right: auto;
  cursor: pointer;
}

.Profile--user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 50px;
}
.Profile--user > img {
  height: 185px;
  width: 185px;
  margin-right: 35px;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  box-shadow: 0px 3px 6px #00000029;
}
.Profile--user > .Profile--user--nameStatsLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Profile--user > .Profile--user--nameStatsLink > *:not(:last-child) {
  margin-bottom: 25px;
}

.Profile--user > .Profile--user--nameStatsLink > *:nth-child(1) > h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 4px;
}
.Profile--user > .Profile--user--nameStatsLink > *:nth-child(1) > p {
  font-size: 20px;
  font-weight: 500;
}

.Profile--user > .Profile--user--nameStatsLink > *:nth-child(2) {
  display: flex;
  flex-direction: row;
}
.Profile--user > .Profile--user--nameStatsLink > *:nth-child(2) > * {
  font-size: 20px;
  font-weight: 500;
}
.Profile--user > .Profile--user--nameStatsLink > *:nth-child(2) > * {
  font-size: 20px;
  font-weight: 500;
}
.Profile--user
  > .Profile--user--nameStatsLink
  > *:nth-child(2)
  > *:first-child {
  margin-right: 20px;
}
.Profile--user > .Profile--user--nameStatsLink > *:nth-child(2) > * span {
  font-weight: bold;
}

.Profile--user > .Profile--user--nameStatsLink > *:nth-child(3) {
  font-size: 17px;
  font-weight: bold;
  color: #0093ff;
  cursor: pointer;
  text-decoration: underline;
}

.Profile--user > button {
  /* margin-top: auto; */
  margin-left: auto;
  margin-bottom: auto;
}

.Profile--channels {
  padding: 25px 50px;
}
.Profile--channels > h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Profile--channelsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
