.TestPage--container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /* height: calc(100vh - 95px) !important; */
  height: 10000vh;
}

.TestPage--container > .xyz {
  /* height: calc(100vh - 95px); */
  /* width: calc(100vw - 260px); */
  width: 100%;
  height: 10000vh;
  position: absolute;
  top: 95px;
  left: 00px;
  z-index: 1;
  /* background-color: rgb(76, 206, 76); */
  background-color: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xyz > *:not(:last-child) {
  margin-bottom: 20px;
}

.pic1 {
  height: 172px;
  width: 172px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0px 3px 6px #00000080;
}

.picx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 67px;
  width: 67px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000080;
}

.picx--watching {
  background: linear-gradient(180deg, #c330fc 0%, #00ffff 100%);
}

.pic2 {
  height: 59px;
  width: 59px;
  border-radius: 50%;
  /* border: 3px solid #fff; */
}
