.DraftPanel--container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  position: relative;
}

.DraftPanel--textarea {
  position: relative;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: row;
  /* height: 60px; */
}

.DraftPanel--textarea > * {
  /* height: 100%; */
}

.DraftPanel--textarea > textarea {
  padding: 16px 12px;
  outline: none;
  background-color: #ededed;
  color: #797575;
  color: #202124;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  /* border-radius: 50px; */
  resize: none;
  overflow: hidden;
}

.DraftPanel--textarea > *:first-child {
  background-color: #ededed;
  color: #009dff;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-right: 12px !important;
}
.DraftPanel--textarea > *:nth-child(3) {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.DraftPanel--textarea > *:nth-child(4) {
  background-color: #ededed;
  color: #959595;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding-left: 12px !important;
}

.DraftPanel--pickerContainer {
  position: absolute;
  z-index: 1;
  left: 0px;
  /* top: -450px; */
  top: -370px;
}
