.RoomHeader--container {
  background-color: #ffffff;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #ededed;
}
.RoomHeader--container > div {
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  padding: 5px;
}

.RoomHeader--container > h2 {
  font-size: 26px;
  color: black;
}
