.Profile2--container {
  /* background-color: #ffffff;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ededed;
  height: 60px;
  user-select: none; */

  border-radius: 30px;
  background-color: #ffffff;
  /* width: 1270px; */
  flex-grow: 1;
  margin-right: 120px;
  margin-bottom: 95px;
  /* padding-bottom: 55px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile2--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  padding: 20px 16px;
}
.Profile2--header > h2 {
  font-size: 30px;
  font-weight: 600;
  user-select: none;
}

.Profile2--user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 50px;
}
.Profile2--user > img {
  height: 185px;
  width: 185px;
  margin-right: 35px;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}
.Profile2--user > .Profile2--user--nameStats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Profile2--user > .Profile2--user--nameStats > *:first-child {
  margin-bottom: 25px;
}

.Profile2--user > .Profile2--user--nameStats > *:first-child > h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 4px;
}
.Profile2--user > .Profile2--user--nameStats > *:first-child > p {
  font-size: 20px;
  font-weight: 500;
}

.Profile2--user > .Profile2--user--nameStats > *:last-child {
  display: flex;
  flex-direction: row;
}
.Profile2--user > .Profile2--user--nameStats > *:last-child > * {
  font-size: 20px;
  font-weight: 500;
}
.Profile2--user > .Profile2--user--nameStats > *:last-child > * {
  font-size: 20px;
  font-weight: 500;
}
.Profile2--user > .Profile2--user--nameStats > *:last-child > *:first-child {
  margin-right: 20px;
}
.Profile2--user > .Profile2--user--nameStats > *:last-child > * span {
  font-weight: bold;
}
.Profile2--user > button {
  /* margin-top: auto; */
  margin-left: auto;
  margin-bottom: auto;
}

.Profile2--channels {
  padding: 25px 50px;
}
.Profile2--channels > h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Profile2--channelsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
