.UpdateChannel--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  /* border-top-right-radius: 20px; */
  /* margin-right: 20px; */
  /* padding-bottom: 45px; */
  /* height: 400vh; */
  height: 100%;
}

.UpdateChannel--header {
  margin-top: 45px;
}

.UpdateChannel--header > h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}
.UpdateChannel--header > h2 {
  font-size: 20px;
  font-weight: 500;
}

.UpdateChannel--main {
  padding: 80px 60px 0 60px;
  /* margin-top: 80px; */
  /* padding-left: 60px; */
  /* padding-right: 60px; */
  /* margin-top: 100px; */
  /* width: 100%; */
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-right: 408px; */
  /* margin-left: 154px; */
  height: 100%;
  /* background-color: red; */
}
.UpdateChannel--icon {
  margin-right: 66px;
}
.UpdateChannel--inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.UpdateChannel--inputs > button {
  background-color: #ff4343;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
}
/* .UpdateChannel--buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
/* .UpdateChannel--buttons > *:first-child {
  width: 191px;
  margin: 0 auto;
  font-size: 26px;
} */
/* .UpdateChannel--buttons > *:last-child {
  background-color: #ff0000;
} */
.UpdateChannel--inputs > *:not(:last-child) {
  margin-bottom: 15px;
}

.UpdateChannel--main > .UpdateChannel--inputs > .UpdateChannel--private {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 60px;
}
.UpdateChannel--main > .UpdateChannel--inputs > .UpdateChannel--private > i {
  color: #a0a0a0;
  margin-right: 10px;
  margin-top: 2px;
}
.UpdateChannel--private > .UpdateChannel--private--info {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: auto;
}
.UpdateChannel--private > .UpdateChannel--private--info > h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}
.UpdateChannel--private > .UpdateChannel--private--info > p {
  font-size: 16px;
  font-weight: 500;
  color: #6f6f6f;
}

.UpdateChannel--main .FormSubmitPopup--container {
  left: 60px;
  width: calc(100vw - 951px - 60px - 60px);
}
