.welcome-image {
  width: 650px;
}

@media screen and (orientation: landscape) and (max-height: 830px) and (min-aspect-ratio: 8/12) and (min-width: 640px) {
  .account-form {
    padding: 1rem;
  }
  .welcome-page-bod {
    padding: 0 !important;
  }
  .account-form-par {
    margin: 0;
    padding: 0.1rem !important;
  }
  .account-form input {
    padding: 0 !important;
  }
  .welcome-image {
    height: auto;
  }
}

@media screen and (orientation: landscape) and (max-height: 830px) {
  .welcome-image {
    width: 30rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 610px) {
  .header-body-container {
    height: 100% !important;
  }
}
