.Channel--container {
  display: flex;
  flex-direction: row;
}

.Channel--privateAndNotMember {
  flex-grow: 1;
}
.Channel--privateAndNotMember > .ChannelMain--container {
  flex-grow: 1;
  border-top-right-radius: 15px;
}

.Channel--privateAndNotMember .ChannelMain--header {
  border-top-right-radius: 15px;
}
