.RoomMain--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.RoomMain--container > section {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 26px;
  border-right: 2px solid #ededed;
}

.RoomMain--container > section::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.RoomMain--container > section::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.RoomMain--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #ededed;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}

.RoomMain--header > *:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 14px 5px 14px;
  padding: 25px 14px 13px 14px;
  height: 100%;
}
.RoomMain--header > *:first-child > *:not(:last-child) {
  margin-right: 12px;
}

.RoomMain--header > *:first-child > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}
.RoomMain--header > *:first-child > h3 {
  font-size: 28px;
  font-weight: bold;
}

.RoomMain--header > *:first-child > i {
  color: #000;
  cursor: pointer;
  transition: filter 0.17s ease-in-out;
}
.RoomMain--header > *:first-child > i:hover {
  /* filter: contrast(110%); */
  filter: invert(30%);
}

.RoomMain--header > *:first-child > p {
  font-size: 18px;
  font-weight: bold;
  color: #64c9ef;
  cursor: pointer;
  user-select: none;
  transition: filter 0.17s ease-in-out;
}

.RoomMain--header > *:first-child > p:hover {
  filter: brightness(90%);
}
.RoomMain--header > *:first-child > p:active {
  filter: brightness(80%);
}

.RoomMain--nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  /* padding: 0 14px; */
  height: 100%;
  user-select: none;
}

.RoomMain--nav > *:not(:last-child) {
  margin-right: 28px;
}
.RoomMain--nav > * {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.RoomMain--nav > * > h4 {
  font-size: 26px;
  font-weight: bold;
  color: #a0a0a0;
}

.RoomMain--nav--slab {
  display: none;
  transition: width 0.12s ease-in-out;
}

.RoomMain--active > h4 {
  color: #009dff;
}
.RoomMain--active > .RoomMain--nav--slab {
  display: block;
  height: 8px;
  width: 100%;
  background-color: #009dff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  position: absolute;
  bottom: -2px;
}

.RoomMain--inActive:hover > .RoomMain--nav--slab {
  display: block;
  height: 8px;
  width: 50%;
  background-color: #009dff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  position: absolute;
  bottom: -2px;
  animation: RoomMain--slabExpand 0.17s ease-in-out;
}

@keyframes RoomMain--slabExpand {
  0% {
    width: 0;
  }

  1% {
    width: 10%;
  }

  100% {
    width: 50%;
  }
}

.RoomMain--nav a {
  text-decoration: none;
}
