.RoomIcon2--container {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.RoomIcon2--container > img {
  height: 66px;
  width: 66px;
  border: 2px solid #fff;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}

.RoomIcon2--ChannelsPanel1 {
  height: 76px;
  width: 76px;
}
.RoomIcon2--ChannelsPanel1 > img {
  height: 70px;
  width: 70px;
}
.RoomIcon2--FriendsPanel {
  height: 82px;
  width: 82px;
}
.RoomIcon2--FriendsPanel > img {
  height: 76px;
  width: 76px;
}

.RoomIcon2--watching {
  background: linear-gradient(180deg, #c330fc 0%, #00ffff 100%);
}

.RoomIcon2--online {
  position: absolute;
  background-color: #07ff23;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  top: 4px;
  right: 2px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
}

.RoomIcon2--vertical {
  position: absolute;
  height: 66px;
  width: 2px;
  left: 35px;
  background-color: #fff;
}

.RoomIcon2--FriendsPanel > .RoomIcon2--vertical {
  height: 76px;
  left: 40px;
}

.RoomIcon2--half {
  position: absolute;
  width: 33px;
  height: 2px;
  top: 35px;
  left: 35px;
  background-color: #fff;
}

.RoomIcon2--FriendsPanel > .RoomIcon2--half {
  width: 38px;
  top: 40px;
  left: 40px;
}

.RoomIcon2--horizontal {
  position: absolute;
  width: 66px;
  height: 2px;
  top: 35px;
  background-color: #fff;
}

.RoomIcon2--FriendsPanel > .RoomIcon2--horizontal {
  width: 76px;
  top: 40px;
}

.RoomIcon2--two > *:nth-child(1) {
  clip-path: inset(0px 34px 0px 0px);
}
.RoomIcon2--two > *:nth-child(2) {
  clip-path: inset(0px 0px 0px 34px);
}
.RoomIcon2--two.RoomIcon2--FriendsPanel > *:nth-child(1) {
  clip-path: inset(0px 39px 0px 0px);
}
.RoomIcon2--two.RoomIcon2--FriendsPanel > *:nth-child(2) {
  clip-path: inset(0px 0px 0px 39px);
}

.RoomIcon2--three > *:nth-child(1) {
  clip-path: inset(0px 34px 0px 0px);
}
.RoomIcon2--three > *:nth-child(2) {
  clip-path: inset(0px 0px 0px 34px);
}
.RoomIcon2--three > *:nth-child(3) {
  clip-path: inset(34px 0px 0px 34px);
}

.RoomIcon2--three.RoomIcon2--FriendsPanel > *:nth-child(1) {
  clip-path: inset(0px 39px 0px 0px);
}
.RoomIcon2--three.RoomIcon2--FriendsPanel > *:nth-child(2) {
  clip-path: inset(0px 0px 0px 39px);
}
.RoomIcon2--three.RoomIcon2--FriendsPanel > *:nth-child(3) {
  clip-path: inset(39px 0px 0px 39px);
}

.RoomIcon2--four > *:nth-child(1) {
  clip-path: inset(0px 34px 0px 0px);
}
.RoomIcon2--four > *:nth-child(2) {
  clip-path: inset(0px 0px 0px 34px);
}
.RoomIcon2--four > *:nth-child(3) {
  clip-path: inset(34px 0px 0px 34px);
}
.RoomIcon2--four > *:nth-child(4) {
  clip-path: inset(34px 34px 0px 0px);
}

.RoomIcon2--four.RoomIcon2--FriendsPanel > *:nth-child(1) {
  clip-path: inset(0px 39px 0px 0px);
}
.RoomIcon2--four.RoomIcon2--FriendsPanel > *:nth-child(2) {
  clip-path: inset(0px 0px 0px 39px);
}
.RoomIcon2--four.RoomIcon2--FriendsPanel > *:nth-child(3) {
  clip-path: inset(39px 0px 0px 39px);
}
.RoomIcon2--four.RoomIcon2--FriendsPanel > *:nth-child(4) {
  clip-path: inset(39px 39px 0px 0px);
}
