.FP--container {
  position: fixed;
  right: 0;
  z-index: 50;
  width: 110px;
  transition: width 0.17s ease-in-out;
  animation-name: FP--slideInRight;
  animation-duration: 0.17s;
  display: flex;
  flex-direction: column;
  user-select: none;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px #38383880;
  /* max-height: 550px; */
  /* max-height: 88vh; */
  /* height: 80vh; */
  padding-bottom: 20px;
  height: calc(100vh - 94px);
}

.FP--expanded {
  width: 420px;
}

.FP--container > .FP--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 72px;
}

.FP--expanded > .FP--header {
  justify-content: flex-start;
}

.FP--container > .FP--header > i {
  color: #393939;
}
.FP--container > .FP--header > h3 {
  color: #393939;
  font-size: 28px;
  font-weight: bold;
  margin-left: 12px;
  animation-name: FP--slideInRight;
  animation-duration: 0.17s;
}

.FP--rooms {
  padding: 2px 0 20px 0;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.FP--rooms::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.FP--rooms::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.FP--container > .FP--rooms > button {
  display: block;
  height: 72px;
  width: 72px;
  padding: 0;
  border-radius: 50%;
  transition: width 0.17s ease-in-out;
  transition: border-radius 0.17s ease-in-out;
  margin-left: 0;
  transition: margin-left 0.17s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: FP--slideInRight;
  animation-duration: 0.17s;
  margin: 20px;
}

.FP--expanded > .FP--rooms > .FP--newRoom {
  border-radius: 30px;
  width: 270px !important;
  margin-left: 130px;
  margin-bottom: 20px;
}
.FP--expanded > .FP--rooms > .FP--newRoom > p {
  margin-right: 22px;
}

.FP--container > .FP--rooms > .FP--search {
  background-color: #5cd8fd;
  margin-top: 0;
}

.FP--container > .FP--rooms > .FP--newRoom {
  background-color: #57b7ff;
}

.FP--shade {
  height: 1px;
  width: 100%;
  background-color: #d0d0d0;
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1;
}

.FP--shade2 {
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.FP--room {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  transition: filter 0.17s ease-in-out;
  cursor: pointer;
  padding: 10px 20px;
}
.FP--room:hover {
  filter: brightness(90%);
}
.FP--room:active {
  filter: brightness(80%);
}

@keyframes FP--slabExpand {
  0% {
    height: 0;
  }

  1% {
    height: 10%;
  }

  100% {
    height: 100%;
  }
}

@keyframes FP--slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.FP--searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 25px;
  margin: 0 20px 20px 20px;
}

.FP--searchbar:focus-within {
  border: 1px solid #00b1ff;
}

.FP--searchbar > input {
  height: 44px;
  background-color: #ecf0f2;
  outline: none;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 25px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 500;
  flex-grow: 1;
}
.FP--searchbar > *:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 44px;
  background-color: #ecf0f2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 10px;
}
.FP--searchbar > *:last-child > button {
  height: 34px;
  width: 34px;
  padding: 0;
  background-color: #5cd8fd;
}

.FP--friendRequests {
  padding: 0 20px;
  margin-bottom: 20px;
}

.FP--friendRequests > *:not(:last-child) {
  margin-bottom: 8px;
}

.FP--friendRequests > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecf0f2;
  box-shadow: 0px 1px 3px #00000033;
  border-radius: 18px;
  padding: 10px 15px;
}

.FP--friendRequests > * > *:not(:last-child) {
  margin-right: 15px;
}

.FP--friendRequests > * > div {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.FP--friendRequests > * > div > *:first-child {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 4px;
}

.FP--friendRequests > * > div > *:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
}

.FP--friendRequests > * > img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  -webkit-user-drag: none;
  user-select: none;
}

.FP--nameAndMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: auto;
}
.FP--nameAndMessage > *:first-child {
  font-size: 20px;
  font-weight: bold;
}
.FP--nameAndMessage > *:last-child {
  font-size: 17px;
  font-weight: 500;
}
