.HeaderSettings--container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
}

.HeaderSettings--container > i {
  color: white;
  text-shadow: 0px 1px 4px #00000029;
  cursor: pointer;
}

.HeaderSettings--container > i:hover {
  filter: brightness(90%);
}

.HeaderSettings--container > i:active {
  filter: brightness(80%);
}
