.InviteModal--container {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000053;
  border-radius: 20px;
  /* min-width: 555px; */
  width: 750px;
  /* min-width: 750px; */
  max-height: 720px;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 20px; */
}

.InviteModal--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}

.InviteModal--header > h3 {
  font-size: 26px;
  font-weight: bold;
}

.InviteModal--container > h4 {
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  padding: 22px 22px 0 22px;
}

.InviteModal--content {
  padding: 48px 60px 28px 48px;
  padding: 48px 48px 28px 48px;
  padding: 60px 60px 28px 60px;
  /* padding: 60px; */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #cbcbcb #cbcbcb;
  /* margin-bottom: 100px; */
}

.InviteModal--content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.InviteModal--content:hover::-webkit-scrollbar {
  width: 24px;
}

.InviteModal--content:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 24px 24px #cbcbcb;
  border: solid 8px transparent;
  border-radius: 50px;
}

.InviteModal--content:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 24px 24px #f0eaff;
  border: solid 8px transparent;
  border-radius: 50px;
}

.InviteModal--content:hover::-webkit-scrollbar-button {
  display: none;
}

.InviteModal--content:hover {
  padding-right: 36px;
}

/* OLD ABOVE */

/*
.InviteModal--content::-webkit-scrollbar {
  width: 24px;
}
.InviteModal--content::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 24px 24px #cbcbcb;
  border: solid 8px transparent;
  border-radius: 50px;
}

.InviteModal--content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 24px 24px #f0eaff;
  border: solid 8px transparent;
  border-radius: 50px;
}

.InviteModal--content::-webkit-scrollbar-button {
  display: none;
} */

.InviteModal--inviteLink {
  width: 100%;
  /* padding: 22px; */
  /* border-bottom: 1px solid #d0d0d0; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* margin-bottom: 48px; */
  margin-bottom: 60px;
}
.InviteModal--inviteLink > *:last-child {
  flex-grow: 1;
  padding-right: 24px;
}

.InviteModal--icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 12px;
}

.InviteModal--icon > i {
  color: #ffffff;
}

.InviteModal--share {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.InviteModal--link {
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 35px;
  /* flex-grow: 1; */
  min-width: 350px;
}
.InviteModal--link > p {
  font-size: 20px;
  font-weight: 400;
}
.InviteModal--link > button {
  position: absolute;
  right: -25px;
}

.InviteModal--search {
  width: 100%;
  /* padding: 22px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* .InviteModal--content:hover > .InviteModal--search {
  margin-right: -2px;
  background-color: blue;
} */

.InviteModal--search > *:first-child {
  flex-grow: 1;
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  min-height: 46px;
  border: thin solid transparent;
  margin-right: 15px;
  padding: 8px 12px;
}
.InviteModal--search > *:first-child > *:first-child {
  color: #a5a5a5;
  margin-right: 20px;
}

.InviteModal--search > *:first-child > *:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.InviteModal--search > *:first-child > *:last-child > * {
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.InviteModal--search > *:first-child > *:last-child > input {
  /* flex-grow: 1; */
  /* display: inline-block; */
  flex-grow: 1;
  height: 32px;
  /* width: auto; */
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  /* border: none;
  outline: none;
  background-color: #f0f0f0;
  height: 100%;
  flex-grow: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 24px;
  font-weight: 400;
  padding: 6px 25px 6px 12px; */
}
.InviteModal--search > *:first-child > *:last-child > input::placeholder {
  color: #b2b1b1;
}

.InviteModal--search > *:first-child > div {
  /* background-color: #f0f0f0;
  height: 100%;
  width: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #b2b1b1;
  padding-left: 25px; */
}

/* .InviteModal--search > *:first-child:focus-within {
  border: thin solid #00b1ff;
} */

.InviteModal--search > *:last-child {
  /* height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  height: 46px; */
  /* height: 40px; */
}

.InviteModal--search--selectedFriend {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: thin solid #d9d9d9;
  border-radius: 15px;
  padding: 8px 12px;
  height: 32px;
  cursor: pointer;
  transition: filter 0.17s ease-in-out;
}
.InviteModal--search--selectedFriend:hover {
  filter: brightness(90%);
}
.InviteModal--search--selectedFriend:active {
  filter: brightness(80%);
}
.InviteModal--search--selectedFriend > p {
  font-size: 14px;
  font-weight: 500;
  color: #6c6c6c;
  margin-right: 12px;
}
.InviteModal--search--selectedFriend > i {
  color: #6c6c6c;
}

.InviteModal--users {
  /* padding: 0 22px 0 22px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  /* height: 270px; */
}

.InviteModal--user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  padding: 15px 0 15px 0;
  background-color: #ffffff;
  transition: filter 0.17s ease-in-out;
  border-radius: 5px;
}

.InviteModal--user > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  margin-right: 22px;
  cursor: pointer;
}
.InviteModal--user > div {
  cursor: pointer;
  user-select: none;
}

.InviteModal--user > div > *:first-child {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.InviteModal--user > div > *:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #989797;
}

.InviteModal--user > *:last-child {
  margin-left: auto;
}

.InviteModal--noneFound {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.InviteModal--noneFound > h4 {
  font-size: 26px;
  font-weight: 500;
  color: #b2b1b1;
}

.InviteModal--spinner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 7px 12px;
}

.InviteModal--spinner--circle {
  height: 12px;
  width: 12px;
  border: 4px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
  animation: InviteModal--spinner--circle 1s linear infinite;
}

@keyframes InviteModal--spinner--circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
