.RoomIcon--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background-color: red; */
  box-shadow: 0px 0px 6px #00000040;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  position: relative;
  /* z-index: 2; */
}

.RoomIcon--online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #07ff23;
  box-shadow: 0px 0px 2px #00000080;
  position: absolute;
  z-index: 4;
  top: -2px;
  right: -5px;
}

.RoomIcon--one {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  user-select: none;
}
.RoomIcon--two {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  user-select: none;
}

.RoomIcon--two img {
  width: 100%;
  height: 100%;
}
.RoomIcon--one img {
  width: 100%;
  height: 100%;
}

.RoomIcon--three {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  user-select: none;
}

.RoomIcon--three img {
  width: 100%;
  height: 100%;
}

.RoomIcon--four {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  user-select: none;
}

.RoomIcon--four img {
  width: 100%;
  height: 100%;
}

.RoomIcon--back {
  position: absolute;
  background-color: white;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110%;
  width: 110%;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000040;
}
.RoomIcon--watching > .RoomIcon--back {
  background: linear-gradient(180deg, #03f5ff 0%, #f500ff 100%);
}

.RoomIcon--vertical {
  width: 3px;
  height: 100%;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
}
.RoomIcon--watching > .RoomIcon--vertical {
  background: linear-gradient(180deg, #03f5ff 0%, #f500ff 100%);
}
.RoomIcon--horizontal {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
}
.RoomIcon--watching > .RoomIcon--horizontal {
  background: linear-gradient(180deg, #03f5ff 0%, #f500ff 100%);
}
.RoomIcon--horizontalRight {
  height: 3px;
  width: 50%;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 37px;
  /* transform: translate(-50%, -50%); */
  z-index: 10;
  background-color: white;
}
.RoomIcon--watching > .RoomIcon--horizontalRight {
  background: linear-gradient(180deg, #03f5ff 0%, #f500ff 100%);
}

.RoomIcon--full {
  position: absolute;
  z-index: 2;
  width: 72px;
  height: 72px;
  left: 0;
  top: 0;
  border-radius: 36px;
}
.RoomIcon--full > img {
  border-radius: 36px;
}
.RoomIcon--left {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 72px;
  left: 0;
  top: 0;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}
.RoomIcon--left > img {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  object-fit: cover;
}

.RoomIcon--right {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 72px;
  left: 36px;
  top: 0;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}
.RoomIcon--right > img {
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  object-fit: cover;
}

.RoomIcon--topLeft {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  left: 0;
  top: 0;
  border-top-left-radius: 36px;
}
.RoomIcon--topLeft > img {
  border-top-left-radius: 36px;
}

.RoomIcon--topRight {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  left: 36px;
  top: 0;
  border-top-right-radius: 36px;
}
.RoomIcon--topRight > img {
  border-top-right-radius: 36px;
}

.RoomIcon--bottomLeft {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  left: 0;
  top: 36px;
  border-bottom-left-radius: 36px;
}
.RoomIcon--bottomLeft > img {
  border-bottom-left-radius: 36px;
}

.RoomIcon--bottomRight {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  left: 36px;
  top: 36px;
  border-bottom-right-radius: 36px;
}
.RoomIcon--bottomRight > img {
  border-bottom-right-radius: 36px;
}
