.ChatDraft--container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  position: relative;
}

.ChatDraft--textarea {
  position: relative;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: row;
}

.ChatDraft--textarea > textarea {
  padding: 12px;
  outline: none;
  background-color: #f2f2f2;
  color: #a5a5a5;
  color: #000000;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.ChatDraft--textarea > *:first-child {
  background-color: #f2f2f2;
  color: #009dff;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 5px 10px 5px 15px !important;
}
.ChatDraft--textarea > *:nth-child(3) {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}
.ChatDraft--textarea > *:nth-child(4) {
  background-color: #f2f2f2;
  color: #a5a5a5;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 5px 15px 5px 10px !important;
}

.ChatDraft--pickerContainer {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: -370px;
}
