.AnonRoomLeftPanel--container {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 12px 30px; */
  /* max-height: 115px; */
  width: 450px;
  /* height: 1010px; */
  background-color: #f1f1f1;
  box-shadow: 0px 3px 10px #38383880;
  padding: 60px 10px 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AnonRoomLeftPanel--container > *:not(:last-child) {
  margin-bottom: 20px;
}

.AnonRoomLeftPanel--seperator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.AnonRoomLeftPanel--seperator > p {
  margin-right: 10px;
  margin-left: 10px;
  color: #9b9b9b;
  font-size: 20px;
  font-weight: bold;
}
.AnonRoomLeftPanel--seperator > *:first-child,
.AnonRoomLeftPanel--seperator > *:last-child {
  width: 100px;
  border-bottom: 2px solid #38383880;
}

.AnonRoomLeftPanel--container > .InvitePanel--container,
.AnonRoomLeftPanel--container > .CreateNewAccount--container {
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
}
