.FriendsPanel--container {
  display: flex;
  flex-direction: column;
  user-select: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 25px 30px #00000029;
  width: 100px;
  position: relative;
  transition: width 0.05s ease-in-out;
  animation-name: FriendsPanel--slideInRight;
  animation-duration: 0.05s;
}

.FriendsPanel--unexpandable {
  animation: none;
}

.FriendsPanel--expanded {
  width: 420px;
  z-index: 2;
}

.FriendsPanel--container > .FriendsPanel--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px 8px 20px;
  height: 60px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.FriendsPanel--expanded > .FriendsPanel--header {
  justify-content: flex-start;
  padding: 16px 20px 8px 20px;
}

.FriendsPanel--unexpandable > .FriendsPanel--header {
  cursor: default;
}

.FriendsPanel--headerShadow {
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
}

.FriendsPanel--container > .FriendsPanel--header > i {
  color: #000000;
}

.FriendsPanel--container > .FriendsPanel--header > h3 {
  display: none;
  color: #000000;
  font-size: 26px;
  font-weight: bold;
  margin-left: 8px;
  animation-name: FriendsPanel--slideInRight;
  animation-duration: 0.05s;
}

.FriendsPanel--expanded > .FriendsPanel--header > h3 {
  display: block;
}

.FriendsPanel--rooms {
  padding: 12px 0 12px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.FriendsPanel--expanded .FriendsPanel--rooms {
  padding: 12px 0 12px 0;
  display: block;
}

.FriendsPanel--rooms::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.FriendsPanel--rooms::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.FriendsPanel--container > .FriendsPanel--rooms > *:not(:last-child) {
  margin-bottom: 12px;
}
.FriendsPanel--expanded > .FriendsPanel--rooms > *:not(:last-child) {
  margin-bottom: 0;
}

.FriendsPanel--searchbar > input {
  display: none;
}

.FriendsPanel--searchbar > *:last-child > button {
  height: 72px;
  width: 72px;
  border: none;
  box-shadow: 0px 1px 4px #00000029;
  background: transparent linear-gradient(68deg, #00c3ff 0%, #98e4fa 100%) 0% 0%
    no-repeat padding-box;
}

.FriendsPanel--expanded .FriendsPanel--searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: thin solid #e2e2e2;
  border-radius: 15px;
  margin: 0px 16px 0px 16px;
}

.FriendsPanel--expanded .FriendsPanel--searchbar:focus-within {
  border: thin solid #00b1ff;
}

.FriendsPanel--expanded .FriendsPanel--searchbar > input {
  display: block;
  height: 48px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20px;
  padding-right: 4px;
  font-size: 20px;
  font-weight: 400;
  flex-grow: 1;
}
.FriendsPanel--expanded .FriendsPanel--searchbar > input::placeholder {
  color: #a5a5a5;
}

.FriendsPanel--expanded .FriendsPanel--searchbar > *:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.FriendsPanel--expanded .FriendsPanel--searchbar > *:last-child > button {
  height: 36px;
  width: 36px;
  background-color: #5cd8fd;
  border-radius: 50% !important;
  margin-right: 4px;
  padding: 0 !important;
  box-shadow: 0px 1px 4px #00000029;
}

.FriendsPanel--searching {
  display: none;
  flex-direction: row;
  align-items: center;
  margin: 4px 16px 0px 16px;
  user-select: none;
}

.FriendsPanel--expanded .FriendsPanel--searching {
  display: flex;
}

.FriendsPanel--searching > *:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
  margin: 4px 12px;
  word-wrap: break-word;
  word-break: break-all;
}

.FriendsPanel--searching > *:last-child {
  font-size: 14px;
  font-weight: bold;
  color: #1da4fe;
  cursor: pointer;
}

.FriendsPanel--searching > *:last-child:hover {
  filter: brightness(90%);
}

.FriendsPanel--rooms .FriendsPanel--newRoom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: wpx;
  width: 72px;
  min-height: 72px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px #00000029;
  background: transparent linear-gradient(68deg, #009dff 0%, #5abefc 100%) 0% 0%
    no-repeat padding-box;
  border: none;
}

.FriendsPanel--newRoom > p {
  display: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 16px;
}

.FriendsPanel--expanded .FriendsPanel--newRoom {
  display: none;
  margin: 16px 16px 16px auto !important;
  border-radius: 25px;
  width: 166px;
  height: 43px;
}

.FriendsPanel--expanded .FriendsPanel--newRoom > p {
  display: block;
}

.FriendsPanel--expanded .FriendsPanel--newRoom > p {
  display: block;
}

/*Testing*/
.FriendsPanel--header .FriendsPanel--newRoom1 {
  display: none;
}
.FriendsPanel--expanded .FriendsPanel--header > button {
  display: flex;
  margin: 12px -8px 12px auto !important;
  border-radius: 25px;
  padding: 12px 16px;
  background: transparent linear-gradient(255deg, #009dff 0%, #5abefc 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #00000029;
  border: none;
}
.FriendsPanel--expanded .FriendsPanel--newRoom1 > p {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

.FriendsPanel--container .FriendsPanel--newRoom1 > i {
  display: flex;
}
/*Test end*/

.FriendsPanel--room {
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.FriendsPanel--room:hover {
  transform: scale(1.075);
}
.FriendsPanel--room:active {
  transform: scale(1.025);
}

.FriendsPanel--expanded .FriendsPanel--room {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  margin: 8px 8px 0;
  padding: 10px 16px;
}

.FriendsPanel--expanded .FriendsPanel--room:hover {
  background-color: #f2f2f2;
  transform: none;
}

.FriendsPanel--expanded .FriendsPanel--room:active {
  background-color: #f2f2f2;
  transform: none;
}

.FriendsPanel--expanded .FriendsPanel--activeRoom {
  background-color: #f2f2f2;
  transform: none;
  pointer-events: none;
}

.FriendsPanel--friendRequests {
  display: none;
  padding: 0 16px;
  margin-top: 16px;
}

.FriendsPanel--expanded .FriendsPanel--friendRequests {
  display: block;
}

.FriendsPanel--friendRequests > *:not(:last-child) {
  margin-bottom: 4px;
}

.FriendsPanel--friendRequests > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 15px;
  padding: 12px 12px;
}

.FriendsPanel--friendRequests > * > *:not(:last-child) {
  margin-right: 16px;
}

.FriendsPanel--friendRequests > * > div {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

.FriendsPanel--friendRequests > * > div > *:first-child {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

.FriendsPanel--friendRequests > * > div > *:last-child {
  font-size: 16px;
  font-weight: 400;
  color: #a5a5a5;
}

.FriendsPanel--friendRequests > * > img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
}

.FriendsPanel--friendRequests > * > button {
  box-shadow: 0px 1px 4px #00000029;
}
.FriendsPanel--friendRequests > * > button:disabled {
  cursor: default;
  box-shadow: none;
}

.FriendsPanel--pages {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 12px 28px 0 16px;
}

.FriendsPanel--expanded .FriendsPanel--pages {
  display: flex;
}

.FriendsPanel--pages > *:not(:last-child) {
  margin-right: 16px;
}
.FriendsPanel--pages > * {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #a5a5a5;
}
.FriendsPanel--pages--active {
  color: #000;
  /* text-shadow: 0px 3px 6px #00000020; */
}

.FriendsPanel--nameAndMessage {
  display: none;
  visibility: visible;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
  margin-left: auto;
}

.FriendsPanel--nameAndMessage > *:first-child {
  font-size: 20px;
  font-weight: 400;
}

.FriendsPanel--nameAndMessage > *:last-child {
  font-size: 18px;
  font-weight: 400;
}

.FriendsPanel--nameAndMessage > *:nth-child(2) {
  margin-top: 4px;
}

.FriendsPanel--expanded .FriendsPanel--nameAndMessage {
  display: flex;
  animation-name: FriendsPanel--fadeIn;
  animation-duration: 0.05s;
}

.FriendsPanel--unexpandable .FriendsPanel--nameAndMessage {
  animation: none;
}

.FriendsPanel--nameAndLastMessageSent {
  color: #a5a5a5;
}

.FriendsPanel--nameAndLastMessageReceived {
  color: #000000;
}

@keyframes FriendsPanel--slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes FriendsPanel--fadeIn {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.FriendsPanel--tooltip {
  font-size: 20px !important;
  font-weight: bold !important;
  box-shadow: 0px 1px 4px #00000029 !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 15px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  opacity: 1 !important;
}

.FriendsPanel--tooltip.place-left:after {
  border-left-color: #ffffff !important;
}

.FriendsPanel--noUsersFounds {
  /* padding: 18px 20px; */
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.FriendsPanel--noUsersFounds > p {
  font-size: 20px;
  font-weight: 400;
  color: #a5a5a5;
}

.FriendsPanel--friendRequests .FriendsPanel--avatar--yourself {
  margin-right: 55px;
}
.FriendsPanel--avatar--yourself + button {
  display: none;
}

.FriendsPanel--friendRequests .FriendsPanel--button--receivedFriendRequest {
  background: transparent linear-gradient(68deg, #5abefc 0%, #00ed80 100%) 0% 0%
    no-repeat padding-box;
}
