.Input4--container {
  position: relative;
  width: 100%;
  /* max-width: 510px; */
}

.Input4--container > h4 {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.Input4--inputContainer {
  position: relative;
}

.Input4--inputContainer > input {
  /* display: inline; */
  padding: 12px 70px 12px 24px;
  outline: none;
  background-color: #fff;
  color: #797575;
  color: #202124;
  border: thin solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  /* box-shadow: 0px 3px 6px #00000029; */
  border-radius: 50px;
}
.Input4--inputContainer > input:focus {
  border-color: #00b1ff;
}

.Input4--inputContainer > p {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  color: #6f6f6f;
  font-weight: 400;
  color: #202124;
}
