.ChannelList--container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.ChannelList--channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 25px;
  cursor: pointer;
  background-color: #fff;
  transition: filter 0.17s ease-in-out;
  height: 77px;
  position: relative;
}

.ChannelList--channel:hover {
  filter: brightness(90%);
}
.ChannelList--channel:active {
  filter: brightness(80%);
}

.ChannelList--channel--iconWatching {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  background: linear-gradient(180deg, #03f5ff 0%, #f500ff 100%);
  -webkit-user-drag: none;
}
.ChannelList--channel--iconNotWatching {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  background-color: #fff;
  -webkit-user-drag: none;
}
.ChannelList--channel--iconWatching > img,
.ChannelList--channel--iconNotWatching > img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

.ChannelList--channel--name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ChannelList--channel--name > p {
  font-size: 22px;
  font-weight: 500;
}
.ChannelList--channel--name > .AvatarDeck--container {
  margin-top: 30px;
}

.ChannelList--slab {
  display: none;
  transition: height 0.12s ease-in-out;
}

.ChannelList--active {
  filter: brightness(90%);
}
.ChannelList--active > .ChannelList--slab {
  display: block;
  width: 8px;
  height: 80%;
  background-color: #009dff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 0;
}

.ChannelList--inActive:hover > .ChannelList--slab {
  display: block;
  width: 8px;
  height: 50%;
  background-color: #009dff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 0;
  animation: ChannelList--slabExpand 0.17s ease-in-out;
}

@keyframes ChannelList--slabExpand {
  0% {
    height: 0;
  }

  1% {
    height: 10%;
  }

  100% {
    height: 50%;
  }
}
