.App--container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* background-color: var(--color-primary);
  background: linear-gradient(
    123deg,
    #76fcff 0%,
    #f966f8 52%,
    #e8bba2 100%
  ) !important; */
  /* min-height: 100vh; */
  /* height: 1000vh; */
  /* background: linear-gradient(123deg, #76fcff 0%, #f966f8 52%, #e8bba2 100%); */
  /* max-width: 1920px; */
  /* margin: 0 auto; */
  /* background-color: #f676e8; */
}
