* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /* width: 100vw; */
  /* height: 100vh; */
}

body {
  /* background: linear-gradient(123deg, #76fcff 0%, #f966f8 52%, #e8bba2 100%); */
  background-color: #f676e8;
}

html {
  /* background: linear-gradient(123deg, #76fcff 0%, #f966f8 52%, #e8bba2 100%); */
  background-color: #f676e8;
  height: 100%;
}
:root {
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 15px;
  --space-lg: 30px;
  --space-xl: 60px;
  --space-xxl: 120px;

  --color-primary: #009dff;
  --color-secondary: #5cd8fd;
  --color-tertiary: #ce00ff;
  --color-quaternary: #202225;
  --color-dark: #101419;
  --color-light: #f9fbf2;
  --color-accent1: #2b2d32;
  --color-accent2: #242529;
  --color-accent3: #393c42;
  --color-accent4: #72767d;
  --color-statusAvailable: #43b581;
  --color-statusAway: #faa61a;
  --color-statusBusy: #f04747;

  --color-text-white: white;
}

body,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 6px 14px;
  cursor: pointer;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  transition: filter 0.17s ease-in-out, background-color 0.17s ease-in-out,
    color 0.17s ease-in-out;
  user-select: none;
}

.sm {
  font-size: 16px;
}

.lg {
  font-size: 20px;
}
.xl {
  font-size: 20px;
}

.button.pill {
  border-radius: 34px;
  padding: 8px 18px;
}

.button.round {
  justify-content: center;
  border-radius: 100%;
  /* padding: 0; */
  height: 40px;
  width: 40px;
}

.button.pill.sm {
  padding: 6px 14px;
}

.button.lg {
  padding: 12px 24px;
}
.button.xl {
  padding: 12px 24px;
}

.button.pill.lg {
  padding: 14px 26px;
}

.button.round.lg {
  height: 70px;
  width: 70px;
}

.bgc-primary {
  background-color: var(--color-primary);
}
.bgc-secondary {
  background-color: var(--color-secondary);
}
.bgc-tertiary {
  background-color: var(--color-tertiary);
}

.bgc-gradient1 {
  background-color: #5abefc;
  background: linear-gradient(255deg, #009dff 0%, #5abefc 100%);
  border: 0;
}
.bgc-gradient2 {
  background-color: #5abefc;
  background: linear-gradient(255deg, #ce00ff 0%, #e784ff 100%);
  border: 0;
}

.button > *:first-child {
  margin-right: 8px;
}
.button > *:last-child {
  margin-right: 0;
}

.button.xl > *:first-child {
  margin-right: 24px;
}
.button.xl > *:last-child {
  margin-right: 0;
}

.button:hover {
  filter: brightness(90%);
}
.button:active {
  filter: brightness(80%);
}
.button:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}
.button:disabled:hover {
  filter: none;
}
.button:disabled:active {
  filter: none;
}
