.VideoQueuePanel--container {
  width: 100%;
  padding: 15px 14px 0px 14px;
}

.VideoQueuePanel--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.VideoQueuePanel--header > h5 {
  font-size: 24px;
  font-weight: bold;
}
.VideoQueuePanel--header > p {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #0b9bff;
  margin-left: 15px;
  cursor: pointer;
}
