.ChatMessages--container {
  flex-grow: 1;
  background-color: #ffffff;
  height: 700px;
  padding: 0 12px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #f2f2f2;
  outline: none;
  position: relative;
}

.ChatMessages--container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.ChatMessages--container:hover::-webkit-scrollbar {
  width: 22px;
}

.ChatMessages--container:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 24px 24px #d1d1d1;
  border: solid 8px transparent;
  border-radius: 50px;
}

.ChatMessages--container:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 24px 24px #fff;
  border: solid 8px transparent;
  border-radius: 50px;
}

.ChatMessages--container:hover::-webkit-scrollbar-button {
  display: none;
}

.ChatMessages--date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 25px auto;
  height: 37px;
  width: 100%;
}

.ChatMessages--container:hover .ChatMessages--date {
  margin-right: -10.5px;
}

.ChatMessages--date > h4 {
  background-color: #f0eaff;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  /* background-color: purple; */
  /* height: 37px; */
  /* margin-left: 110px; */
  /* left: 0; */
  /* left: 50%; */
}

.ChatMessages--messageGroup {
  display: grid;
  grid-template-areas:
    "avatar   nameDate"
    "edge     messages";
  grid-template-columns: 36px 1fr;
  grid-template-rows: 36px 1fr;
  margin-bottom: 25px;
  width: 100%;
}
.ChatMessages--messageGroup > img {
  grid-area: avatar;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  /* box-shadow: 0px 3px 6px #00000029; */
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
  transition: filter 0.05s ease-in-out;
}
.ChatMessages--messageGroup > img:hover {
  filter: brightness(90%);
}
.ChatMessages--messageGroup > img:active {
  filter: brightness(80%);
}
.ChatMessages--messageGroup > .ChatMessages--messageGroup--nameDate {
  grid-area: nameDate;
  font-size: 18px;
  font-weight: 400;
  margin-left: 16px;
  /* margin-left: 20px; */
  /* margin-bottom: 6px; */
  align-self: center;
}
.ChatMessages--messageGroup > .ChatMessages--messageGroup--nameDate > span {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
}

.ChatMessages--messageGroup > .ChatMessages--messageGroup--edge {
  grid-area: edge;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.ChatMessages--messageGroup > .ChatMessages--messageGroup--edge > div {
  background-color: #cbcbcb;
  border-radius: 10px;
  width: 4px;
  height: 100%;
}

.ChatMessages--messageGroup > .ChatMessages--myMessages > div {
  background-color: #1da4fe;
}

.ChatMessages--messageGroup > .ChatMessages--messages {
  grid-area: messages;
  font-size: 18px;
  font-weight: 400;
  margin-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.ChatMessages--messageGroup > .ChatMessages--messages > *:not(:last-child) {
  margin-bottom: 4px;
}

/* .ChatMessages--messageGroup > .ChatMessages--messages i {
  display: none;
  color: #cbcbcb;
  cursor: pointer;
}
.ChatMessages--messageGroup > .ChatMessages--messages i:hover {
  color: #868686;
}
.ChatMessages--messageGroup > .ChatMessages--messages i:active {
  transform: translateY(1px);
} */

.ChatMessages--messageGroup > .ChatMessages--messages > * {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ChatMessages--messageGroup > .ChatMessages--messages > * > *:first-child {
  width: 315px;
}

/* .ChatMessages--messageGroup
  > .ChatMessages--messages
  > .ChatMessages--message
  .PopupMenu--container {
  background-color: red;
  display: none;
}
.ChatMessages--messageGroup
  > .ChatMessages--messages
  > .ChatMessages--message:hover
  .PopupMenu--container {
  background-color: red;
  display: flex;
}
.ChatMessages--messageGroup
  > .ChatMessages--messages
  > .ChatMessages--message
  .PopupMenu--open {
  background-color: red;
  display: flex;
} */

.ChatMessages--chat > *:last-child {
  margin-bottom: 0;
}

.ChatMessages--messages--last {
  position: relative;
}
.ChatMessages--seenUsers {
  /* position: absolute; */
  /* bottom: -30px; */
  /* right: 24px; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  right: 20px;
  top: 10px;
  margin-top: 20px;
  /* margin-right: 20px; */
  /* padding-bottom: 20px; */
}
.ChatMessages--seenUsers > *:not(:last-child) {
  /* margin-right: 2px; */
}

.ChatMessages--container:hover .ChatMessages--seenUsers {
  /* right: 0px; */
}

.ChatMessages--userImage {
  max-width: 247px;
  height: auto;
  border-radius: 13px;
  -webkit-user-drag: none;
  box-shadow: 0px 1px 4px #00000029;
  cursor: pointer;
  transition: filter 0.17s ease-in-out;
  /* margin-left: -30px; */
}
.ChatMessages--userImage:hover {
  filter: brightness(90%);
}
.ChatMessages--userImage:active {
  filter: brightness(80%);
}

.ChatMessages--seen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* margin-top: -20px; */
  padding-bottom: 10px;
  /* background-color: red; */
}

.ChatMessages--spinner {
  height: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 12px 8px 12px;
}

.ChatMessages--spinner--circle {
  height: 22px;
  width: 22px;
  border: 4px solid #009dff;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
  animation: ChatMessages--spinner--circle 1s linear infinite;
}

@keyframes ChatMessages--spinner--circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ChatMessages--spinner2 {
  height: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ChatMessages--spinner2--circle {
  height: 12px;
  width: 12px;
  border: 4px solid #009dff;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
  animation: ChatMessages--spinner2--circle 1s linear infinite;
}

@keyframes ChatMessages--spinner2--circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ChatMessages--notLoaded {
  flex-grow: 1;
  /* height: 100%; */
  background-color: #f2f2f2;
}

.ChatMessages--firstMessage > *:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ChatMessages--firstMessage > *:first-child > img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  /* box-shadow: 0px 3px 6px #00000029; */
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
  transition: filter 0.05s ease-in-out;
  object-fit: cover;
}
.ChatMessages--firstMessage > *:first-child > img:hover {
  filter: brightness(90%);
}
.ChatMessages--firstMessage > *:first-child > img:active {
  filter: brightness(80%);
}

.ChatMessages--nameAndDate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ChatMessages--nameAndDate > p {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  align-self: center;
}
.ChatMessages--nameAndDate > span {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
}

.ChatMessages--message {
  display: grid;
  grid-template-columns: auto 1fr 30px;
  /* overflow-wrap: break-word !important; */
}

/* .ChatMessages--messageContent {

} */
.ChatMessages--messageContent {
  overflow: hidden;
}
.ChatMessages--messageContent > p {
  font-size: 20px;
  font-weight: 400;
  overflow-wrap: break-word;
  /* word-break: break-word; */
  max-width: 300px;
}

.ChatMessages--message > .ChatMessages--edge {
  /* height: auto; */
  width: 4px;
  background-color: #a5a5a5;
  margin-left: 16px;
  margin-right: 20px;
}

.ChatMessages--myMessage > .ChatMessages--edge {
  background-color: #1da4fe;
}

.ChatMessages--firstMessage > .ChatMessages--message {
  margin-top: 8px;
}

.ChatMessages--lastMessage {
  margin-bottom: 16px;
}

.ChatMessages--lastMessage > .ChatMessages--edge {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ChatMessages--firstMessage > .ChatMessages--message > .ChatMessages--edge {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.ChatMessages--message > .PopupMenu--container {
  display: none;
  /* margin-left: auto; */
}
.ChatMessages--message:hover > .PopupMenu--container {
  display: flex;
}

.ChatMessages--message > .PopupMenu--open {
  display: flex;
}

.ChatMessages--oldMessagesAlert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  height: 35px;
  background-color: #cbcbcb;
  padding: 0 12px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
}
.ChatMessages--oldMessagesAlert:hover {
  filter: brightness(90%);
}
.ChatMessages--oldMessagesAlert:active {
  filter: brightness(80%);
}

.ChatMessages--oldMessagesAlert > p {
  font-size: 16px;
  font-weight: bold;
  /* color: #fff; */
}
