.ImageUpload--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImageUpload--upload {
  position: relative;
  width: 230px;
  height: 230px;
  background: linear-gradient(180deg, #03f5ff 0%, #f500ff 100%);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ImageUpload--upload > input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20%;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
}

.ImageUpload--image {
  height: 95%;
  width: 95%;
  border-radius: 50%;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 6px #00000029;
  object-fit: cover;
}

.ImageUpload--noImage {
  position: relative;
  z-index: 1;
  height: 95%;
  width: 95%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.ImageUpload--noImage > p {
  color: #727272;
  font-size: 19px;
  font-weight: bold;
}

.ImageUpload--shade {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.ImageUpload--shade > p {
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.ImageUpload--container > .ImageUpload--upload:hover > .ImageUpload--shade {
  visibility: visible;
}

.ImageUpload--remove {
  color: #b9bbbe;
  height: 32px;
  min-width: 40px;
  min-height: 32px;
  border-radius: 3px;
  color: #727272;
  font-size: 19px;
  font-weight: bold;
  user-select: none;
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 6px;
}
.ImageUpload--remove:hover {
  text-decoration: underline;
}
.ImageUpload--remove:active {
  transform: translateY(1px);
}
