.RoomPage--container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px) !important;
}

.RoomPage--container > .ChannelsPanel1--container {
  height: calc(100vh - 70px);
  position: fixed;
  left: 0;
  top: 70px;
  z-index: 50;
}

.RoomPage--container > .FriendsPanel2--container {
  height: calc(100vh - 70px);
  position: fixed;
  left: 106px;
  top: 70px;
  z-index: 10;
}
.RoomPage--container > .RoomMain--container {
  height: calc(100vh - 70px);
  width: calc(100vw - 966px);
  position: absolute;
  top: 70px;
  left: 526px;
}

.RoomPage--container > .RoomMain--container > .RoomHeader--container {
  /* width: calc(100vw - 985px); */
  /* position: fixed; */
  /* top: 95px; */
  /* left: 545px; */
  /* z-index: 400; */
}

.RoomPage--container > .ChatPanel--container {
  height: calc(100vh - 70px);
  left: calc(565px + (100vw - 1005px));
  position: fixed;
  top: 70px;
  background-color: red;
  border-top-right-radius: 20px;
}

.RoomPage--container > .ChatPanel--container > .ChatHeader--container {
  border-top-right-radius: 20px;
}
