.Header--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  max-height: 115px;
}

.Header--login {
  display: grid;
  grid-template-areas:
    "username   password  login"
    ".          forgot    .    ";
  grid-gap: 8px;
}

.Header--login > :nth-child(1) {
  grid-area: username;
}
.Header--login > :nth-child(2) {
  grid-area: password;
}
.Header--login > :nth-child(3) {
  grid-area: forgot;
  color: var(--color-text-white);
  font-weight: bold;
  opacity: 0.5;
  margin-left: 12px;
  cursor: pointer;
}
.Header--login > :nth-child(3):hover {
  opacity: 1;
  text-decoration: underline;
}
.Header--login > :nth-child(4) {
  grid-area: login;
  align-self: end;
  margin-left: 8px;
}

.Header--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-user-drag: none;
  user-select: none;
  margin-right: 30px;
}

.Header--logo > img {
  margin-right: 15px;
  height: 70px;
  width: 70px;
}
.Header--logo > h1 {
  font-size: 35px;
  color: var(--color-text-white);
  text-shadow: 0px 3px 6px #00000029;
}

.Header--user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Header--user > *:not(:last-child) {
  margin-right: 50px;
}

.Header--user > *:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header--user > *:first-child > h4 {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  margin-right: 20px;
}

.Header--user > *:first-child > *:last-child {
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.17s ease-in-out;
}

.Header--user > *:first-child > *:last-child:hover {
  transform: scale(1.1);
}
.Header--user > *:first-child > *:last-child:active {
  transform: scale(1.05);
}

.Header--user > *:first-child > *:last-child > img {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 85%;
  border-radius: 50%;
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

.Header--user i {
  color: white;
}

.Header--user > *:nth-child(2),
.Header--user > *:nth-child(3),
.Header--user > *:nth-child(4),
.Header--user > *:nth-child(5) {
  cursor: pointer;
}

.Header--user > *:nth-child(2):hover,
.Header--user > *:nth-child(3):hover,
.Header--user > *:nth-child(4):hover,
.Header--user > *:nth-child(5):hover {
  filter: brightness(90%);
}

.Header--user > *:nth-child(2):active,
.Header--user > *:nth-child(3):active,
.Header--user > *:nth-child(4):active,
.Header--user > *:nth-child(5):active {
  filter: brightness(80%);
}

/* :hover {
  filter: brightness(90%);
} */

.Header--container > .Input3--container {
  margin-right: auto;
}
