::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb:hover{
     opacity: 1;
     background: #5c5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  opacity:0;
  background: transparent;
}
/* Handle on hover */
.light::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}

/* Firefox */
html {
  scrollbar-color: #f1f1f1 #a5a5a5;
}

.mozilla-thin-scrollbar {
  scrollbar-width: thin !important;
}
