.ChatMessages--spinner {
  height: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 12px 8px 12px;
}

.ChatMessages--spinner--circle {
  height: 14px;
  width: 14px;
  border: 2px solid #009dff;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
  animation: ChatMessages--spinner--circle 1s linear infinite;
}

@keyframes ChatMessages--spinner--circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
