.VideoCard2--container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000040;
  width: 260px;
  min-height: 238px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.VideoCard2--top {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 146px;
  width: 260px;
  cursor: pointer;
}

.VideoCard2--top > .VideoCard2--videoImage {
  height: 100%;
  width: 260px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-user-drag: none;
  user-select: none;
}
.VideoCard2--top > .VideoCard2--sourceImage {
  height: 30px;
  width: auto;
  max-width: 40px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  -webkit-user-drag: none;
  user-select: none;
}

.VideoCard2--container > .VideoCard2--shade {
  display: none;
  background-color: black;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0.15;
  border-radius: 15px;
}
.VideoCard2--container > p {
  display: none;
  position: absolute;
  z-index: 3;
  font-size: 20px;
  font-weight: bold;
  color: white;
  top: 40%;
  left: 28%;
  text-shadow: 0px 3px 6px #000000;
  user-select: none;
}

.VideoCard2--container:hover > .VideoCard2--shade,
.VideoCard2--dragged > .VideoCard2--shade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.VideoCard2--container:hover > p,
.VideoCard2--dragged > p {
  display: block;
}

.VideoCard2--container > button {
  display: none;
  background: transparent linear-gradient(249deg, #fa3535 0%, #fc5aa5 100%) 0%
    0% no-repeat padding-box;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  padding: 8px !important;
}

.VideoCard2--container:hover > button,
.VideoCard2--dragged > button {
  display: block;
}

.VideoQueue2--draggingOver .VideoCard2--container:hover > .VideoCard2--shade {
  display: none;
}

.VideoQueue2--draggingOver .VideoCard2--container:hover > p {
  display: none;
}

.VideoQueue2--draggingOver .VideoCard2--container:hover > button {
  display: none;
}

.VideoCard2--container:hover .VideoCard2--sourceImage,
.VideoCard2--dragged .VideoCard2--sourceImage {
  display: none;
}

.VideoQueue2--draggingOver
  .VideoCard2--container:hover
  .VideoCard2--sourceImage {
  display: block;
}

.VideoCard2--top > h4 {
  background-color: #f2f2f2;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  padding: 4px 12px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  user-select: none;
}

.VideoCard2--top > .VideoCard2--live {
  font-size: 18px;
  color: #1da4fe;
  background-color: #f2f2f2;
}

.VideoCard2--bottom {
  padding: 12px 8px;
  flex-grow: 1;
  /* background-color: red; */
  border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.VideoCard2--bottom > h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.VideoCard2--bottom > p {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 400;
}
