.Notifications--container {
  background-color: #ffffff;
  min-width: 420px;
  max-height: 528px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px #00000080;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 600;
}

.Notifications--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
}

.Notifications--header > h3 {
  font-size: 20px;
  font-weight: 500;
}
.Notifications--header > p {
  font-size: 20px;
  font-weight: 500;
  color: #0593fc;
  position: absolute;
  right: 16px;
  cursor: pointer;
  user-select: none;
}

.Notifications--header > p:hover {
  text-decoration: underline;
}

.Notifications--notifications {
  padding: 20px 15px 20px 15px;
  overflow-y: auto;
}

.Notifications--notifications::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.Notifications--notifications::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.Notifications--notifications > h4 {
  font-size: 16px;
  font-weight: 500;
  color: #a0a0a0;
  margin-bottom: 8px;
}

.Notifications--requests {
  margin-bottom: 20px;
}

.Notifications--requests > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecf0f2;
  box-shadow: 0px 1px 3px #00000033;
  border-radius: 18px;
  padding: 10px 15px;
}

.Notifications--requests > *:not(:last-child) {
  margin-bottom: 8px;
}

.Notifications--requests > * > *:not(:last-child) {
  margin-right: 15px;
}

.Notifications--requests > * > *:first-child {
  margin-right: auto;
  background-color: #e51d1d;
  height: 30px !important;
  width: 30px !important;
  font-size: 12px;
}

.Notifications--requests > * > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Notifications--requests > * > div > *:first-child {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 4px;
}

.Notifications--requests > * > div > *:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
}

.Notifications--requests > * > img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}

.Notifications--new > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}
.Notifications--new > *:hover {
  background-color: #f0f0f0;
}

.Notifications--new > *:not(:last-child) {
  /* margin-bottom: 8px; */
}

.Notifications--new > * > img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  -webkit-user-drag: none;
  user-select: none;
  margin-right: 20px;
}

.Notifications--new > * > p {
  font-size: 18px;
  font-weight: 500;
}
