.ChatHeader--container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  user-select: none;
  padding: 8px 12px 0px;
}

.ChatHeader--private {
  background-color: #f2f2f2;
  padding: 8px 16px;
  border-radius: 15px;
  box-shadow: 0px 1px 4px #00000050;
}
.ChatHeader--private > p {
  font-size: 20px;
  font-weight: bold;
  color: #a5a5a5;
  cursor: pointer;
}
.ChatHeader--private > p > span {
  color: #1da4fe;
}