.ChatHeader--container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ededed;
  height: 60px;
  user-select: none;
  padding: 25px 14px 13px 14px;
}

.ChatHeader--private {
  background-color: #ededed;
  padding: 6px 14px;
  border-radius: 25px;
}
.ChatHeader--private > p {
  font-size: 20px;
  font-weight: bold;
  color: #a5a5a5;
}

.ChatHeader--live {
  padding: 6px 14px;
}
.ChatHeader--live > p {
  font-size: 28px;
  font-weight: bold;
}
