.FriendsPanel2--container {
  width: 420px;
  display: flex;
  flex-direction: column;
  user-select: none;
  border-top-left-radius: 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  height: calc(100vh - 95px);
  border-right: 2px solid #ededed;
}

.FriendsPanel2--container > .FriendsPanel2--header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 60px;
  position: relative;
  z-index: 10;
}

.FriendsPanel2--headerShadow {
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
}

.FriendsPanel2--container > .FriendsPanel2--header > i {
  color: #393939;
}
.FriendsPanel2--container > .FriendsPanel2--header > h3 {
  color: #393939;
  font-size: 28px;
  font-weight: bold;
  margin-left: 12px;
}

.FriendsPanel2--rooms {
  padding: 2px 0px 20px 0px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.FriendsPanel2--rooms::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.FriendsPanel2--rooms::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.FriendsPanel2--container > .FriendsPanel2--rooms > .FriendsPanel2--newRoom {
  display: block;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px auto;
  border-radius: 30px;
  height: 72px;
  width: 270px;
  background-color: #57b7ff;
}

.FriendsPanel2--container
  > .FriendsPanel2--rooms
  > .FriendsPanel2--newRoom
  > p {
  margin-right: 22px;
}

.FriendsPanel2--room {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  transition: filter 0.17s ease-in-out;
  cursor: pointer;
  padding: 10px 20px;
}
.FriendsPanel2--room:hover {
  filter: brightness(90%);
}
.FriendsPanel2--room:active {
  filter: brightness(80%);
}

.FriendsPanel2--searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 25px;
  margin: 0px 20px 0px 20px;
}

.FriendsPanel2--searchbar:focus-within {
  border: 1px solid #00b1ff;
}

.FriendsPanel2--searchbar > input {
  height: 44px;
  background-color: #ecf0f2;
  outline: none;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 25px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 400;
  flex-grow: 1;
}
.FriendsPanel2--searchbar > input::placeholder {
  color: #b2b1b1;
}

.FriendsPanel2--searchbar > *:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: #ecf0f2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /* padding-right: 10px; */
}

.FriendsPanel2--searchbar > *:last-child > button {
  height: 34px;
  width: 34px;
  background-color: #5cd8fd;
  border-radius: 50% !important;
  margin-right: 10px;
  padding: 0 !important;
  box-shadow: 0px 3px 6px #00000029;
}

.FriendsPanel2--searching {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 20px 0px 20px;
  user-select: none;
}

.FriendsPanel2--searching > *:first-child {
  font-size: 16px;
  font-weight: 500;
  color: #989898;
  margin-right: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.FriendsPanel2--searching > *:last-child {
  font-size: 16px;
  font-weight: bold;
  color: #5cd8fd;
  cursor: pointer;
  margin-top: 2px;
}

.FriendsPanel2--friendRequests {
  padding: 0 20px;
  /* margin-bottom: 20px; */
  margin-top: 20px;
}

.FriendsPanel2--friendRequests > *:not(:last-child) {
  margin-bottom: 8px;
}

.FriendsPanel2--friendRequests > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecf0f2;
  box-shadow: 0px 1px 3px #00000033;
  border-radius: 18px;
  padding: 10px 15px;
}

.FriendsPanel2--friendRequests > * > *:not(:last-child) {
  margin-right: 15px;
}

.FriendsPanel2--friendRequests > * > div {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.FriendsPanel2--friendRequests > * > div > *:first-child {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 4px;
}

.FriendsPanel2--friendRequests > * > div > *:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
}

.FriendsPanel2--friendRequests > * > img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}

.FriendsPanel2--friendRequests > * > button {
  box-shadow: 0px 3px 6px #00000029;
}

.FriendsPanel2--pages {
  margin: 10px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.FriendsPanel2--pages > *:not(:last-child) {
  margin-right: 10px;
}
.FriendsPanel2--pages > * {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0px 3px 6px #00000020;
  color: #7b8080;
}
.FriendsPanel2--pages--active {
  color: #5cd8fd;
}

.FriendsPanel2--nameAndMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: auto;
}
.FriendsPanel2--nameAndMessage > *:first-child {
  font-size: 20px;
  font-weight: bold;
}
.FriendsPanel2--nameAndMessage > *:last-child {
  font-size: 17px;
  font-weight: 500;
}
