.Footer--container {
  padding: 48px 192px;
  width: 100%;
}

.Footer--columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Footer--columns > *:not(:last-child) {
  margin-right: 100px;
}

.Footer--copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--color-text-white);
  font-size: 18px;
  margin-top: 96px;
}
