.Footer--container {
  padding: 60px 170px 40px 260px;
  width: 100%;
}

.Footer--columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Footer--columns > *:not(:last-child) {
  margin-right: 100px;
}

.Footer--copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--color-text-white);
  font-size: 16px;
  margin-top: 50px;
}
