.Input1--container > h4 {
  font-size: 16px;
  user-select: none;
  margin-bottom: 8px;
  color: var(--color-text-white);
  text-shadow: 0px 3px 6px #00000029;
}

.Input1--container > input {
  padding: 8px 12px;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #202124;
  font-size: 16px;
}

.Input1--container > input:focus {
  border-color: #00b1ff;
}
