.InviteList--container {
  height: 240px;
  padding-right: 20px;
  overflow-y: auto;
  scrollbar-color: #009dff #00000029;
}

.InviteList--container::-webkit-scrollbar {
  width: 8px;
}

.InviteList--container::-webkit-scrollbar-track {
  background-color: #00000029;
}

.InviteList--container::-webkit-scrollbar-thumb {
  background-color: #009dff;
  border-radius: 25px;
}

.InviteList--container > *:not(:last-child) {
  margin-bottom: 30px;
}

.InviteList--container > * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.InviteList--container > * > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
  user-select: none;
  -webkit-user-drag: none;
}

.InviteList--container > * > :nth-child(2) {
  margin-right: auto;
}

.InviteList--container > * > :nth-child(2) > *:first-child {
  font-size: 24px;
  margin-bottom: 4px;
}

.InviteList--container > * > :nth-child(2) > *:last-child {
  font-size: 16px;
  color: #989797;
}

.InviteList--container > * > *:last-child {
  height: 40px;
  width: 40px;
  position: relative;
}

.InviteList--container i {
  color: #c837ea;
  cursor: pointer;
  transition: transform 0.17s ease-in-out;
  position: absolute;
  z-index: 10;
}

.InviteList--container i:hover {
  /* filter: brightness(90%); */
  /* transform: translateY(-2px); */
  transform: scale(1.2);
}

.InviteList--container i:active {
  filter: brightness(80%);
}
