.Input5--container {
  position: relative;
  width: 100%;
  max-width: 850px;
}

.Input5--container > input {
  /* display: inline; */
  padding: 12px 24px;
  padding: 12px 95px 12px 24px;
  outline: none;
  background-color: #fff;
  color: #202124;
  border: 1px solid transparent;
  font-size: 26px;
  font-weight: 400;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  height: 75px;
}

.Input5--container > input:focus {
  border-color: #00b1ff;
}

.Input5--container > button {
  height: 60px !important;
  width: 60px !important;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 3px 6px #00000029;
}

.Input5--container > button > i {
  /* color: blue; */
  font-size: 28px;
}

.Input5--friends {
  max-width: 380px;
}
.Input5--friends > input {
  background-color: #e4e8e9;
  /* color: #b2b1b1; */
  color: #202124;
}
